header{background-color: rgba(1, 1, 26, 0.164);
    color:white;}


body{
    background-color: rgb(34, 34, 39);
}

h4{
  color:rgb(20, 68, 68);
  text-align: center; 
  border: 2px solid rgb(20, 68, 68);
  border-radius: 5px;
  box-sizing: content-box;
  margin:auto;
  width: 200px;
  margin-top: 10%;
  padding: 5px;
  
}
h4:hover{background-color: rgb(165, 218, 218);}
.dropdown-menu{
    text-align: center;
    width:100%;
position:relative;
}

h3{text-align: center;
    color:white;}
    textarea{
    height:80px;
padding:20px 50px;
box-sizing: border-box;
margin-left:30%;
width:auto;}
h5{color: white;
text-align: center;}
